.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 9999;
    width: 100vw;
}
.mainContainer .spinnerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mainContainer .spinnerContainer .spinner {
    border-left: 2px solid #999;
    border-bottom: 2px solid #999;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    animation: spin 0.75s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    
}