:root {
  --bg-color: rgb(233, 91, 91);
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #1131ca;
  --red-color: rgb(212, 193, 193);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: noen;
}

body {
  position: relative;
}